body {
  min-width: 1200px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 22px;
  color: #fff;
  background-color: #849d8f;
  margin: 0;
}
.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}
.catalog-page > .container {
  border-bottom: 1px solid rgba(255,255,255,0.4)
}
a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(248,247,244, 0.3);
}
a:hover {
  color: #ffbc9e;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
body > input[type="radio"] {
  display: none;
}

/* Page-wrapper  */

.page-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/*  Page-header  */

.page-header-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 154px;
  padding: 7px 0;
}
.header-logo a {
  border-bottom: none;
}

/* Main-nav  */

.main-nav {
  width: 676px;
}
.main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav-list li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  margin-right: 10px;
  padding-bottom: 5px;
}
.main-nav-list a {
  position: relative;
  display: block;
  padding: 8px;
  border-bottom: none;
}
.main-nav-list a::after {
  content: '';
  position: absolute;
  right: 8px;
  left: 8px;
  bottom: 8px;
  height: 1px;
  background-color: rgba(255,255,255, 0.4);
}
.main-nav-list a.active {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(208,112,88, 1);
}
.main-nav-list a.active::after {
  display: none;
}
.main-nav-list a:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #333;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.main-nav-list a:active {
  box-shadow: inset 0px 2px 2px 0px rgba(105, 105, 105, 1);
}
.sub-menu {
  display: none;
  position: absolute;
  top: 39px;
  left: 0;
  width: 145px;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
}
li:hover .sub-menu {
  display: block;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.sub-menu li {
  display: block;
  margin-right: 0;
  padding: 0;
  text-align: left;
}
.sub-menu a {
  display: block;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding: 10px 20px;
}
.sub-menu a.active {
  background-color: #d07058;
  border-radius: 0;
  cursor: default;
}
.sub-menu a::after {
  display: none;
}
.sub-menu a:hover {
  background-color: #fbded7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.sub-menu a.active:hover {
  background-color: #d07058;
}
.sub-menu a:active {
  background-color: #f6b5a5;
}
.sub-menu-title {
  display: block;
  padding: 10px 20px;
  margin: 0 6px;
  border-bottom: 1px solid #d1d0ce;
  font-weight: bold;
  color: #323232;
}
.sub-menu li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* User-block  */

.user-block {
  width: 267px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-block-btn {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
  padding: 8px;
  padding-left: 45px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}
.user-block-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
  border-color: rgba(255, 255, 255, 0.4);
  border-bottom: none;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.user-block-search-btn {
  border: 0;
  font-size: 0;
  text-shadow: none;
  color: transparent;
  width: 32px;
  height: 32px;
  padding: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-block-search-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  margin-top: -8px;
  margin-left: -8px;
  background: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -658px;
}
.user-block-login-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 16px;
  width: 21px;
  height: 19px;
  margin-top: -9px;
  background: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -600px;
}
.user-block-basket-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 16px;
  width: 21px;
  height: 20px;
  margin-top: -10px;
  background: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -53px;
}
.user-block-search-btn:hover::before {
  background-position: -5px -685px;
}
.user-block-login-btn:hover::before {
  background-position: -5px -629px;
}
.user-block-basket-btn:hover::before {
  background-position: -5px -83px;
}
.user-block-search,
.user-block-login,
.user-block-basket {
  position: relative;
  padding-bottom: 3px;
}

/* User-block-form  */

.user-block-form,
.user-block-order {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  padding: 15px;
  background-color: #f8f7f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.user-block-form input {
  display: block;
  width: 280px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  font-family: 'Roboto', 'Arial' sans-serif;
  color: #999999;
  border: 1px solid #d3d3d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.user-block-search .user-block-form input {
  margin-bottom: 0;
}
.user-block-form input[type=submit] {
  float: left;
  margin-right: 20px;
  width: 100px;
  font-size: 18px;
  color: #fff;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.user-block-form .registration-links {
  float: left;
}
.user-block-form .registration-links a {
  display: block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: #323232;
}

/* User-block-order  */

.user-block-order {
  display: none;
  width: 530px;
  color: #323232;
  font-size: 13px;
  font-weight: normal;
}
.order-product-table {
  border-collapse: collapse;
  z-index: 10
}
.order-product-table td {
  padding: 10px 5px;
}
.order-product-table a {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 0;
}
.order-product-table a::before,
.order-product-table a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: #9e9e9c;
  transform: rotate(-45deg);
}
.order-product-table a::after {
  transform: rotate(45deg);
}
.order-product-table .order-product-item {
  position: relative;
  padding-left: 50px;
  width: 275px;
}
.order-product-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  width: 33px;
  height: 33px;
  margin-top: -16px;
}
.order-product-item-1::before {
  background: url(../img/thumb-product-1.png) no-repeat;
}
.order-product-item-3::before {
  background: url(../img/thumb-product-3.png) no-repeat;
}
.user-block-order span {
  color: #999;
}
.order-product-table tr:last-child td {
  border-bottom: 1px solid #999;
}
.user-block-order-price {
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 15px;
}
.order-check {
  padding: 10px 15px;
  font-weight: bold;
  float: right;
}
.user-block-search:hover .user-block-form,
.user-block-login:hover .user-block-form,
.user-block-basket:hover .user-block-order {
  display: block;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

/*  Work-info  */

.work-info {
  margin-left: auto;
  width: 180px;
  font-size: 22px;
  text-align: right;
  line-height: 24px;
  margin-top: -12px;
}
.work-info span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

/*  Main  */

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -20px;
}
.breadcrumbs li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
  font-size: 14px;
  font-weight: normal;
}
.breadcrumbs li::after {
  content: "\bb";
  position: absolute;
  top: 0;
  right: 0;
}
.breadcrumbs li a {
  text-decoration: none;
}
.breadcrumbs li a:hover {
  border-bottom: 1px solid #ffbc9e;
}
.page-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0 0 20px 0;
}

/* Filter-form  */

.filter-form {
  margin-bottom: 30px;
}
.filter-form-group {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px 12px 0;
  font-weight: 500;
}
.filter-form-label {
  display: block;
  font-size: 14px;
  padding-left: 15px;
  margin-bottom: 5px;
}
.filter-form-label-inline {
  display: inline-block;
}
.filter-form-group-wrap,
.filter-form-button {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 8px 16px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-transform: lowercase;
}
.filter-form-button {
  border: 2px solid #fff;
  text-transform: none;
  padding: 6px 30px;
}
.filter-form-button:hover {
  background-color: #fff;
  color: #323232;
}
.filter-form-button:active {
  box-shadow:
}
.filter-form-group select {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 8px 14px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-transform: lowercase;
}
.filter-form-group select:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #323232;
}
.filter-form-group input[class=min-price],
.filter-form-group input[class=max-price] {
  background: transparent;
  border: none;
  font-size: 14px;
  color: #fff;
  text-align: center;
  width: 75px;
}
.filter-form-group input[type=radio],
.filter-form-group input[type=checkbox] {
  display: none;
}
.filter-form-group label[for^=radio],
.filter-form-group label[for^=checkbox] {
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
}
.filter-form-group label[for^=checkbox] {
  margin-right: 20px;
}
.filter-form-group label[for^=radio]:last-child,
.filter-form-group label[for^=checkbox]:last-child {
  margin-right: 0;
}
.filter-form-group input + label::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 5px solid #aabbb1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #fff;
  background: #aabbb1;
  position: absolute;
  top: 0;
  left: 0;
}
.filter-form-group input + label:hover::before {
  content: '';
  box-shadow: 0 0 0 2px #fff;
}
.filter-form-group input[type=checkbox]:checked + label::before {
  content: '';
  background: #aabbb1 url(../img/spritesheet.png) no-repeat;
  background-position: -5px -113px;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
.filter-form-group input[type=radio] + label::before {
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.filter-form-group input[type=radio]:checked + label::before {
  content: '';
  background: #fff;
}
.range-controls {
  position:relative;
  display: inline-block;
  vertical-align: middle;
}
.range-controls .scale {
  width: 190px;
  height: 4px;
  background-color: rgba(255,255,255, 0.4);
}
.range-controls .scale div {
  height:4px;
  margin-left: 30px;
  margin-right: 45px;
  background-color: #fff;
}
.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  margin-top: -8px;
  background: #fff;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.range-controls .min-toggle {
  left: 20px;
}
.range-controls .max-toggle {
  left: 120px;
}
.filter-form-group input:disabled + label::before {
  content: '';
  border: 5px solid #aabbb1;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  background: #aabbb1;
}
.filter-form-group input:disabled + label:hover::before {
  content: '';
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.4);
}
.filter-form-group input[type=checkbox]:disabled + label:hover::before {
  content: '';
  background: #aabbb1 url(../img/spritesheet.png) no-repeat;
  background-position: -5px -143px;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}


/*  Promo-slider  */

.promo-slider {
  position: relative;
  text-align: center;
}
.promo-slider-controls {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.promo-slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.promo-slider-controls label:hover {
  background-color: rgba(248,247,244, 0.4);
}
.promo-slider-item {
  display: none;
}
#promo-slider-btn-1:checked ~ .page-wrapper #promo-slider-item-1,
#promo-slider-btn-2:checked ~ .page-wrapper #promo-slider-item-2,
#promo-slider-btn-3:checked ~ .page-wrapper #promo-slider-item-3 {
  display: block;
}
#promo-slider-btn-1:checked ~ .page-wrapper label[for="promo-slider-btn-1"],
#promo-slider-btn-2:checked ~ .page-wrapper label[for="promo-slider-btn-2"],
#promo-slider-btn-3:checked ~ .page-wrapper label[for="promo-slider-btn-3"] {
  background-color: #fff;
}
#promo-slider-btn-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url(../img/promo-slider-item-1.png);
}
#promo-slider-btn-2:checked ~ .page-wrapper {
  background-color: #8c9aaa;
  background-image: url(../img/promo-slider-item-2.png);
}
#promo-slider-btn-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/promo-slider-item-3.png);
}
.promo-slider-title {
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  padding: 275px 0 0 0;
  margin: 0 auto 30px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 100px;
  background: #f26843;
  background:-moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.btn:hover {
  color: #fff;
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.promo-slider-btn {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  margin-bottom: 40px;
}

/*  Promo-items  */

.promo-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.promo-item {
  width: 518px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 17px 21px;
}
.promo-item:first-child {
  background: #9c011b url(../img/bg-promo-item-1.jpg);
}
.promo-item:last-child {
  background: #5e4033 url(../img/bg-promo-item-2.jpg);
}
.promo-item-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0 0 14px 0;
}
.promo-item-description {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 43px 0;
}
.promo-item .btn {
  float: right;
  padding: 13px 28px;
}

/*  Product-items  */

.product-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item {
  position: relative;
  width: 267px;
  text-align: center;
  margin-bottom: 39px;
}
.product-item:hover::before {
  content: '';
  width: 293px;
  height: 130%;
  background-color: rgba(255,255,255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0,0,0, 0.4);
  position: absolute;
  top: -6px;
  left: -13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 12;
}
.product-item:hover img {
  position: relative;
  z-index: 13;
}
.product-item img {
  margin-bottom: 6px;
}
.product-item .btn {
  display: none;
  padding: 15px 14px;
}
.product-item:hover .product-item-link {
  color: #fff;
  border-bottom: none;
}
.product-item .product-item-link {
  position: relative;
  z-index: 15;
}
.product-item .product-item-link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.product-item .product-item-link:active {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}
.product-item:hover .btn {
  display: block;
  padding: 11px 0px;
  font-size: 18px;
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
  width: 200px;
  margin: 0 auto;
  color: #fff;
  border: none;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  z-index: 12;
}
.product-item-remark {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/product-remark.png) no-repeat;
  width: 61px;
  height: 61px;
  margin: 0;
  border: 0;
  font-size: 0;
  text-shadow: none;
  color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 13;
}
.product-item-price {
  position: absolute;
  top: 220px;
  left: 0;
  margin: 0;
  font-size: 45px;
  z-index: 13;
}

/*  Features  */

.features {
  background: #eadec4 url(../img/bg-pattern.jpg);
  color: #323232;
  margin-bottom: 42px;
  padding: 25px 20px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.features-title {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  margin: 0 0 25px 0;
}
.features-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-items li {
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
  width: 485px;
  margin: 0 22px 22px 0;
  padding-left: 55px;
}
.features-items li:nth-child(even) {
  margin-right: 0;
}
.features-item {
  position: relative;
  background-repeat: no-repeat;
  display: block;
}
.features-item-make::before {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-position: -5px -316px;
  position: absolute;
  top: -14px;
  left: 0;
  width: 49px;
  height: 49px;
}
.features-item-purchase::before {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-position: -5px -375px;
  position: absolute;
  top: -14px;
  left: 0;
  width: 49px;
  height: 49px;
}
.features-item-real::before {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-position: -5px -434px;
  position: absolute;
  top: -14px;
  left: 0;
  width: 49px;
  height: 49px;
}
.features-item-delivery::before {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-position: -5px -257px;
  position: absolute;
  top: -14px;
  left: 0;
  width: 49px;
  height: 49px;
}

/*  News-and-subscribe  */

.news-and-subscribe {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.news,
.subscribe {
  width: 560px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.news {
  background: #fff url(../img/bg-news.jpg) no-repeat;
  color: #323232;
  padding: 25px 20px;
}
.news-label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
.news .news-title-link {
  display: block;
  width: 285px;
  text-decoration: underline;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.subscribe {
  background: #f8f7f4 url(../img/bg-pattern-border.jpg);
  padding: 5px;
  color: #5a5a5a;
  font-weight: 400;
}
.subscribe-inner {
  padding: 30px 22px;
  background-color: #f8f7f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.subscribe-form input {
  display: inline-block;
  width: 338px;
  padding: 12px 15px;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #999999;
  border: 1px solid #d3d3d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
.subscribe-text {
  margin: 0 0 35px 0;
}
.subscribe-form .btn {
  border: none;
  color: #fff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 14px;
}

/*  Map  */

.map {
  position: relative;
  background: #f7f1d9 url(../img/bg-map.jpg) no-repeat;
  width: 1200px;
  margin: 0 auto;
}
.map-contacts {
  position: absolute;
  top: 60px;
  right: 27px;
  width: 250px;
  margin-left: auto;
  color: #323232;
  background-color: #fdfefe;
  padding: 30px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.map-contacts-title {
  width: 200px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}
.map-contacts-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 22px 0;
}
.map-contacts-text span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.map-contacts-btn {
  display: block;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
}

/*  Pagination  */

.pagination {
  margin: 0;
  padding: 45px 0 30px 0;
  list-style: none;
  text-align: right;
}
.pagination li {
  display: inline-block;
  vertical-align: top;
}
.pagination a {
  text-decoration: none;
  font-weight: 500;
  padding: 3px 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
}
.pagination a:hover:not(.arrow) {
  background-color: rgba(255,255,255, 0.4);
  color: #fff;
}
.pagination .active {
  background-color: #fff;
  color: #323232;
}
.pagination .arrow {
  background: url(../img/spritesheet.png) no-repeat;
  width: 9px;
  height: 14px;
  display: block;
  font-size: 0;
}
.pagination .arrow-left {
  background-position: 3px -2px;
}
.pagination .arrow-right {
  background-position: 3px -26px;
}

/*  Page-footer  */

.page-footer-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-footer-social {
  width: 267px;
  padding: 30px 0;
}
.social-btn {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.5);
  font-size: 0;
  text-shadow: none;
  color: transparent;
}
.social-btn-tw {
  background-position: -5px -712px;
}
.social-btn-inst {
  background-position: -5px -516px;
}
.social-btn-fb {
  background-position: -5px -173px;
}
.social-btn-vk {
  background-position: -5px -796px;
}

.social-btn-tw:hover {
  border: 3px solid rgba(255,255,255,0.7);
  background-position: -5px -754px;
}
.social-btn-inst:hover {
  border: 3px solid rgba(255,255,255,0.7);
  background-position: -5px -558px;
}
.social-btn-fb:hover {
  border: 3px solid rgba(255,255,255,0.7);
  background-position: -5px -215px;
}
.social-btn-vk:hover {
  border: 3px solid rgba(255,255,255,0.7);
  background-position: -5px -838px;
}

.social-btn-tw:active,
.social-btn-inst:active,
.social-btn-fb:active,
.social-btn-vk:active {
  box-shadow: inset 0 2px 1px 0 #888;
}
.page-footer-links {
  width: 380px;
  padding: 30px 0 0;
}
.page-footer-links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-footer-links li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  padding-left: 10px;
  min-width: 110px;
}
.page-footer-links li:first-child a {
  position: relative;
}
.page-footer-links li:first-child a::before {
  content: '';
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -493px;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -6px;
  width: 15px;
  height: 13px;
}
.page-footer-links a {
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.page-footer-links a:hover {
  border-bottom: 1px solid #ffbc9e;
}
.page-footer-links a:active {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}
.page-footer-copyright {
  width: 225px;
  padding: 20px 0 0;
}
.page-footer-logo {
  padding-left: 37px;
}
.page-footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 32px;
  margin: 0;
}
.page-footer-copyright a {
  margin-right: 2px;
}
.page-footer-copyright a:hover {
  border-bottom: 1px solid #ffbc9e;
}
.page-footer-copyright a:active {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}


/*  Feedback-form  */

.feedback-form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 430px;
  height: 394px;
  margin-top: -197px;
  margin-left: -215px;
  padding: 24px;
  background-color: #f8f7f4;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  z-index: 20;
  animation-name: move;
  animation-duration: 0.4s;
}
.feedback-form-popup-show {
  display: block;
}
.feedback-form-title {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin: 0 0 20px 0;
}
.feedback-form-close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 18px;
  height: 18px;
  font-size: 0;
}
.feedback-form-close::before,
.feedback-form-close::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 2px;
  margin-top: 9px;
  background-color: #323232;
  transform: rotate(-45deg);
}
.feedback-form-close::after {
  transform: rotate(45deg);
}
.feedback-form input {
  display: block;
  width: 280px;
  height: 45px;
  margin-bottom: 20px;
  padding: 12px 15px;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #999999;
  border: 1px solid #d3d3d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
  padding: 11px 14px;
  border: 2px solid #c7c6c5;
}
.feedback-form textarea {
  width: 400px;
  padding: 12px 15px;
  height: 130px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.feedback-form-btn {
  float: right;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 12px 20px;
}
.feedback-form-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.feedback-form-overlay-show {
  display: block;
}
@keyframes move {
  0%   {
    transform: translateX(100px);
  }
  50%  {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
