body {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  background-color: #849d8f;
  margin: 0;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 1146px;
  margin: 0 auto;
  outline: 3px solid blue;
}

/*  Page-header  */

.page-header-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-logo {
  width: 154px;
  padding: 7px 0;
  outline: 3px solid green;
}
.main-nav {
  width: 676px;
  padding: 31px 0;
  outline: 3px solid green;
}
.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
.main-nav-list .sub-menu {
  display: none;
}
.user-block {
  width: 267px;
  height: 84px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  outline: 3px solid green;
}
.user-block form,
.user-block table {
  display: none;
}
.work-info {
  margin-left: auto;
  width: 180px;
  margin-top: 20px;
}

/*  Main  */

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
}
.page-title,
.promo-item-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0 0 26px 0;
}

/* Filter-form  */

.filter-form-group {
  display: inline-block;
  margin: 0 15px 15px 0;
  outline: 3px solid green;
}
.filter-form-label {
  display: block;
}

/*  Promo-slider  */

.promo-slider {
  text-align: center;
  height: 530px;
}
.promo-slider input {
  display: none;
}
.promo-slider-item:not(:first-child) {
  display: none;
}
.promo-slider-title {
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  padding: 280px 0 0 0;
}

/*  Promo-items  */

.promo-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.promo-item {
  width: 560px;
  height: 230px;
  outline: 3px solid green;
}

/*  Product-items  */

.product-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.product-item {
  width: 267px;
  height: 415px;
  margin-bottom: 26px;
  outline: 3px solid green;
}

/*  Features  */

.features {
  margin-bottom: 30px;
  outline: 3px solid green;
}
.features-title {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.features-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-items li {
  display: inline-block;
  vertical-align: top;
  width: 540px;
  margin: 0 26px 26px 0;
}

/*  News-and-subscribe  */

.news-and-subscribe {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.news,
.subscribe {
  width: 560px;
  height: 220px;
  outline: 3px solid green;
}

/*  Map  */

.map-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.map-contacts {
  width: 300px;
  height: 305px;
  margin-left: auto;
  outline: 3px solid green;
}

/*  Pagination  */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  margin-bottom: 35px;
}
.pagination li {
  display: inline-block;
  vertical-align: top;
}

/*  Page-footer  */

.page-footer {
  padding: 35px 0;
}
.page-footer-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-footer-social {
  width: 267px;
  padding: 38px 0;
  outline: 3px solid green;
}
.page-footer-links {
  width: 380px;
  padding: 38px 0;
  outline: 3px solid green;
}
.page-footer-links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-footer-links li {
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
}
.page-footer-copyright {
  width: 210px;
  outline: 3px solid green;
}

/*  Feedback-form  */

.feedback-form-wrapper {
  display: none;
}
